<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EtuBudget</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="manifest" href="/static/manifest.json">
    <meta name="theme-color" content="#0F6E56">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="EtuBudget">
</head>
<script>
window.__EXCHANGE_KEY__ = "{{ exchange_key | default('') }}"
</script>
<body>

{% block content %}{% endblock %}

<script src="/static/app.js"></script>
{% block scripts %}{% endblock %}

</body>
</html>